
body{
    background-color: rgb(31, 44, 105);
}

#first{
    width: 30px;
    height: 30px;
}

form{
    padding: 20px;
    margin-top:0px;
}
.link{
    text-align: center;
   background-color: white;
   margin-left:16.4cm;
  border-radius: 5px;
  margin-top: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-bottom:1cm;
}

     input[type="number"], input[type="email"],input[type="text"],select,textarea{
        
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    input[type="submit"]{
        padding: 8px 12px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background:rgb(43, 183, 238);
        color: snow;
    } 
    input[type="button"],input[type="reset"]{
        padding:  8px 12px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background:rgb(106, 187, 241);
        color: snow;
    }
    input[type="password"]{
        
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

.input{
    
    float: left;
    width: 550px;
    background-color: white;
    padding:20px;
    margin: 10px;
    border-radius: 5px;
    padding-bottom: 3px;
}
caption{ 
    color:black;
    padding: 10px;
    margin-top: 12px;
}
table{
    margin: auto;
    text-align: left;
    border: 1px solid rgb(49, 191, 235);
    background-color: rgb(214, 246, 250);
    padding: 20px;



}
.follow{
    text-align:center;
   float: right;
   background-color: white;
   margin: 5px;
   margin-right: 7px;
   width: 50%;
   border-radius: 5px;
   padding-bottom: 9px;

    }
    #footer{
        color:white;
       margin-top:  8cm;
       padding: 12px;
       text-align: center;
       font-family:Arial, Helvetica, sans-serif;
    }
    #mylink{
        text-decoration: none;
        color: white;
        font-style: italic;
    }
